@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.nav-links li {
    list-style: none;
}

.nav-links li a {
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-decoration: none;
}

.quick-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sell-action {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sell-action ul {
    display: none;
    position: absolute;
    margin-left: 40%;
    margin-top: 100px;
    border: 0.5px solid #E0E0E0;
    border-radius: 5px;
}

.sell-action ul li {
    list-style: none;
    width: 130px;
    padding: 5px;
}

.sell-action ul li:hover {
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    color: #fff;
}

.sell-action ul li a {
    font-weight: 400;
}

.sell-action ul li a:hover {
    color: #fff;
}

.sell-action a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    color: #333;
}

.login-btn {
    padding: 17px 56px;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 100px;
    color: #fff;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
}
.btn-discover {
    border: none;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    border-radius: 100px;
    width: 157px;
    height: 55px;
    cursor: pointer;
}

.btn-discover a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    color: #fff;
}

.header-text {
    font-size: 28px;
    font-weight: 700;
    background: linear-gradient(178.18deg, #FD749B -13.56%, #281AC8 158.3%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.para {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;
    color: #333333;
}

.newsletter {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    margin-bottom: 91px;
}

.newsletter-search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
}

.search {
    width: 380px;
    height: 50px;
    border: 1px solid blue;
    border-radius: 30px;
}

#search {
    width: 350px;
    height: 40px;
    outline: none;
    border: none;
    margin-left: 15px;
    margin-top: 5px;
}

.footer {
    background-color: #151515;
    padding: 80px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 60px;
}

.footer-header {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-one {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.footer-one p {
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}

.footer-img {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}

.footer-two {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 220px;
}

.footer-two ul li {
    list-style: none;
}

.footer-two ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.footer-three {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 220px;
}

.footer-three ul li {
    list-style: none;
    color: #fff;
    font-size: 12px;
}

.footer-three a {
    text-decoration: none;
    color: #fff;
    font-size: 12px;
}

.footer-four {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    width: 400px;
}

.ig-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.ig-container div {
    width: 70px;
    height: 70px;
    background-color: #c4c4c4;
}

.ig-container div:hover {
    background-color: #979797;
}